<!DOCTYPE html>
<html>
<head>
    <style>
         .center {
      text-align: center;
      
      body {
      font-size: 10px; 
    }
  }
      </style>
</head>
<body>
  <div class="center">
    <img src="assets/images/ExerciceP.jpg" alt="Education" style="width: 600px; height: 400px;">
    <p class="wow fadeInUp" data-wow-delay=".6s" >L’activité physique présente de nombreux bénéfices pour les patientes atteintes de cancer du sein. De plus en plus d’établissements de soins oncologiques proposent désormais des programmes d’activité physique adaptée en partenariat avec des centres de sports ou de soins spécialisés. Ces sports sont adaptés à l’état physique et psychologique des patientes touchées par la maladie.</p>

    <p class="wow fadeInUp" data-wow-delay=".6s"><strong style="color: rgb(236, 151, 165);">Qu’est-ce que l’activité physique adaptée pour le cancer du sein ?</strong></p>

    <p class="wow fadeInUp" data-wow-delay=".6s">L’activité physique adaptée (ou APA) fait partie intégrante de la prise en charge du cancer du sein.
         Elle a pour but de proposer une pratique sportive adaptée aux patientes en cours de traitement pour un cancer ou en rémission. Son objectif est de limiter les effets secondaires indésirables des traitements, de réduire la fatigue et l’état dépressif des patientes, et pourrait même diminuer les risques de récidive de la maladie.
         En cas de chirurgie du sein, l’APA permet par exemple d’améliorer la mobilité du membre supérieur du côté du sein opéré, parfois sujet aux lymphœdèmes et limitations d’amplitude.

    </p>

    <p class="wow fadeInUp" data-wow-delay=".6s"><strong style="color: rgb(236, 151, 165);">Pourquoi l’activité physique est-elle importante ?</strong></p>

    <p class="wow fadeInUp" data-wow-delay=".6s">Chez les patientes atteintes d’un cancer du sein, la maladie et ses traitements ont des conséquences sur l’organisme. 
        On note souvent une diminution des capacités cardiorespiratoires ou musculaires. 
        Ces perturbations engendrent une véritable difficulté à réaliser un effort physique. Le corps n’est plus habitué.
         Cette intolérance à l’exercice réduit l’autonomie et la qualité de vie de ces malades. Les signes cliniques physiques et psychologiques sont exacerbés, avec notamment une fatigue importante et une baisse de la confiance en soi.</p>

     <p class="wow fadeInUp" data-wow-delay=".6s">Par ailleurs, certaines patientes font état d’un sentiment d’abandon à la fin des traitements du cancer. Les séances de chimiothérapie ou de radiothérapie imposent un certain rythme et permettent de garder un accompagnement et un suivi rapproché des patientes.
             Or, lorsque tout ceci se termine, le sentiment d’abandon peut se faire sentir. Les patientes se retrouvent alors « seules » dans leur vie après-cancer.</p>

     <p class="wow fadeInUp" data-wow-delay=".6s">L’activité physique adaptée permet de remédier à toutes ces problématiques grâce à un accompagnement personnalisé.</p>   

     <p class="wow fadeInUp" data-wow-delay=".6s"><strong style="color: rgb(236, 151, 165);">Quels sports peuvent être adaptés aux patientes atteintes de cancer du sein ?</strong></p> 
     
     <p class="wow fadeInUp" data-wow-delay=".6s">Beaucoup d’activités sportives peuvent entrer dans le cadre de l’activité physique adaptée. Il peut s’agir de cours collectifs de fitness, de canoë-kayak, de tennis de table, de yoga, de natation, d’escrime…</p>

     <p class="wow fadeInUp" data-wow-delay=".6s">Lorsqu’elles sont pratiquées dans un centre de soins comportant un service spécialisé, ces séances de sports s’accompagnent parfois de visites auprès d’un nutritionniste, de balnéothérapie, de kinésithérapie, etc.
         Au total, c’est toute une équipe pluridisciplinaire qui prend en charge les malades durant plusieurs semaines, avec des temps individuels et des temps collectifs.</p>
    <p class="wow fadeInUp" data-wow-delay=".6s"><strong style="color: rgb(236, 151, 165);">Quels sont les bénéfices de l’APA ?</strong></p> 

    <p class="wow fadeInUp" data-wow-delay=".6s">Les patientes incluses dans les protocoles d’activité physique adaptée gagnent en endurance, en souffle et en autonomie. Mais les bénéfices ne sont pas que physiques : les patientes renouent avec l’image de leur corps et reprennent confiance en elles.
         Le lien social qui se crée aide à lutter contre l’isolement.</p>
     <p class="wow fadeInUp" data-wow-delay=".6s">Les avantages sur l’organisme de l’activité physique adaptée pendant et après les traitements du cancer du sein peuvent concerner :</p>
     <ul>
        <li class="wow fadeInUp" data-wow-delay=".6s">-L’amélioration de la qualité de vie ;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-La réduction de la fatigue ;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-L’amélioration ou le maintien des fonctions corporelles normales ;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Le reconditionnement à l’effort physique ;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Une meilleure tolérance aux traitements et à leurs effets secondaires immédiats ou tardifs ;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Une diminution du risque de récidive du cancer.</li>
      </ul>

      <p class="wow fadeInUp" data-wow-delay=".6s">Selon les études menées à ce sujet, l’activité physique adaptée présente de plus grands bénéfices lorsqu’elle est introduite tôt dans le parcours de soins ou qu’elle se poursuit dans la durée.</p>
