<!DOCTYPE html>
<html>
<head>
    <style>
        body {
          background-color: pink;
        }
      </style>
</head>
<body>
  <div>
    <img src="assets/images/chirurgie.jpg" alt="chirurgie">
    <p>La chirurgie du cancer du sein constitue généralement la première étape dans le traitement de cette maladie. En fonction du stade du cancer, de la localisation de la tumeur, différentes options chirurgicales sont pratiquées. Les nouvelles techniques de chirurgie permettent aujourd'hui à une majorité de femmes de conserver leur sein.</p>
    <p><strong>Quand envisager une chirurgie du cancer du sein ?</strong></p>
    <p><strong>Un traitement majeur dans le cancer du sein</strong></p>
    <p>L’intervention chirurgicale a pour but de retirer la tumeur, selon 2 procédés différents :</p>
    <ul>
        <li>-Une<strong> chirurgie mammaire conservatrice,</strong>appelée<strong> tumorectomie ;</strong></li>
        <li>-Une<strong> chirurgie mammaire non conservatrice</strong>partielle ou totale, appelée <strong>mastectomie.</strong></li>
      </ul>
      <p><strong>Une chirurgie réalisée seule ou en accompagnement</strong></p>
      <p>En complément de la chirurgie, d’autres traitements peuvent être concomitants. On parle de traitement adjuvants :</p>
      <ul>
        <li>-la radiothérapie, associée dans 95 % des cas ;</li>
        <li>-la chimiothérapie, associée dans 32 % des cas ;</li>
        <li>-l'hormonothérapie, associée dans 80 % des cas.</li>
      </ul>
      <p>Quand l’intervention chirurgicale est précédée de ces traitements pour réduire la taille de la tumeur et faciliter l’opération, on dit que ces traitements sont néo-adjuvants.</p>
      <p><strong>Les différents types de chirurgies du sein</strong></p>
      <p>L’intervention est réalisée sous anesthésie générale. L’hospitalisation est courte, de 1 à 4 jours en général. Elle varie selon le type d’intervention pratiquée et de l’état de santé général de la patiente. Le chirurgien évitera de réaliser des cicatrices trop hautes pour qu’elles ne soient pas visibles dans le décolleté.</p>
      <p><strong>La chirurgie mammaire conservatrice</strong></p>
      <p>Cette opération est préférée aussi souvent que possible et réservée aux tumeurs de petite taille. Elle consiste à retirer la tumeur et une petite quantité de tissus qui l’entoure pour conserver la plus grande partie du sein. Ces tissus seront ensuite analysés pour vérifier s’ils comportent ou non des cellules cancéreuses. Si c’est le cas, une seconde opération peut être envisagée.</p>
      <p>Avant l’opération :</p>
      <ul>
        <li>-Le chirurgien effectue un repérage mammaire afin de trouver facilement la tumeur au moment de l’opération et enlever le moins possible de tissus sains.</li>
        <li>-Il marque la peau à l’encre en regard de la lésion où il place un fil métallique très fin à l’intérieur du sein, au niveau de la tumeur.</li>
        <li>-Si la tumeur est volumineuse (3 à 5 cm), l’intervention peut être précédée d’une chimiothérapie (chimiothérapie adjuvante) ou d’hormonothérapie afin de réduire suffisamment la taille et permettre une chirurgie conservatrice.</li>
      </ul>
      <p>Pendant l’opération :</p>
      <ul>
        <li>-Le chirurgien pratique une incision au-dessous ou tout près de la tumeur. L’aréole et le mamelon sont conservés sauf pour certaines tumeurs. Le sein est remodelé lors de la tumorectomie afin de prévenir d’éventuelles déformations.</li>
        <li>-Dans certains cas, une radiothérapie préopératoire est effectuée. Après l’ablation de la tumeur, le chirurgien passe une sonde de radiothérapie pendant une trentaine de minutes dans le lit de la tumeur. Ce geste permet de diminuer le nombre de séances de radiothérapie après l’opération et limite les effets secondaires.</li>
        <li>-Une chirurgie conservatrice est toujours complétée d’une radiothérapie du sein. Le chirurgien peut laisser des clips radio-opaques pour retrouver facilement la zone à traiter, en cas de radiothérapie postopératoire. Ces agrafes ne sont pas gênantes et ne font pas non plus sonner les portiques.</li>
      </ul>
      <p>Après l’opération :</p>
      <p>Un échantillon de la tumeur fera l’objet d’une analyse pour vérifier si les cellules cancéreuses sont sensibles aux thérapies ciblées.</p>
      <p><strong>La chirurgie non conservatrice</strong></p>
      <p>Elle consiste à enlever le sein entier, y compris l’aréole et le mamelon, c’est une mastectomie totale. Dans certains cas, elle peut être partielle.</p>
      <p>Plusieurs critères déterminent le choix de cette chirurgie :</p>
      <ul>
        <li>-Si la tumeur est trop volumineuse par rapport à la taille du sein ;</li>
        <li>-Si la forme de la tumeur ou l’endroit où elle se trouve rendent impossible une chirurgie conservatrice ;</li>
        <li>-Si plusieurs tumeurs sont présentes dans le même sein.</li>
      </ul>
      <p>Si une chimiothérapie et/ou radiothérapie postopératoires sont indiquées après une mastectomie totale, la reconstruction mammaire immédiate, elle, n’est pas recommandée.</p>
      <p><strong>La chirurgie du ganglion sentinelle dans le cancer du sein</strong></p>
      <p>Exérèse du ganglion sentinelle</p>
      <p>Le ganglion sentinelle est le premier ganglion qui reçoit le drainage lymphatique provenant du sein. En cas d’atteinte de ce ganglion, l’envahissement se fait du bas vers le haut de l’aisselle, ganglion par ganglion. On doit procéder à l'exérèse du ganglion sentinelle comme suit :</p>
      <ul>
        <li>-On retire les ganglions qui sont les plus proches de la tumeur.</li>
        <li>-Ils sont ensuite examinés en anatomopathologie pour vérifier s’ils contiennent, ou pas, des cellules cancéreuses.</li>
        <li>-Un prélèvement ganglionnaire axillaire est fait dans 95 % des cas.</li>
        <li>-La technique du ganglion sentinelle est utilisée dans 46 % des cas.</li>
      </ul>
      <p>Cette technique est réservée aux tumeurs infiltrantes de petite taille (15-20 mm). Le principe de cette procédure est d’éviter le curage axillaire aux patientes à faible risque d’atteinte ganglionnaire.</p>
      <ul>
        <li>-Le retrait d’1 ou 2 ganglions sentinelles, appelé exérèse, est effectué au cours de la tumorectomie ou de la mastectomie.</li>
        <li>-Il peut nécessiter une seconde incision, qui sera effectuée sous l’aisselle.</li>
        <li>-Si les ganglions sont atteints, cela déterminera la suite du traitement.</li>
      </ul>
      <p>Une procédure efficace pour localiser les ganglions</p>
      <p>Pour localiser le ganglion sentinelle, le chirurgien injecte 1 ou 2 types de produits, au voisinage de la tumeur :</p>
      <ul>
        <li>-Un colorant appelé bleu patenté : l’injection du colorant se fait en salle d’opération, quelques minutes avant qu’on cherche à localiser le ganglion.</li>
        <li>-Un produit radioactif : l’injection a lieu quelques heures avant l’intervention chirurgicale.</li>
      </ul>
      <p>Les 2 produits sont absorbés par les vaisseaux lymphatiques et circulent jusqu'aux ganglions lymphatiques, en amont de la tumeur (les ganglions sentinelles).</p> 
      <p>Si le chirurgien a choisi le colorant, il recherche le ganglion teinté de bleu pendant l’intervention. S’il utilise la substance radioactive, une scintigraphie et une sonde radioactive lui permettront de repérer le ganglion marqué.</p>
      <ul>
        <li>-Le ganglion est dit négatif s’il ne contient pas de cellules cancéreuses. Le risque alors que d’autres ganglions en contiennent étant faible (moins de 5 %), les ganglions sont laissés en place</li>
        <li>-Si le ganglion est positif, un curage ganglionnaire complet est fait et un traitement adjuvant sera ensuite mis en place.</li>
      </ul>
      <p>Le curage axillaire ou ganglionnaire</p>
      <p>C’est le retrait de l’ensemble des ganglions lymphatiques sous les aisselles. En moyenne 8 à 10 ganglions sont extraits pour être analysés.</p>
      <p>Le but est d’enlever les cellules cancéreuses qui auraient pu se propager jusqu'aux ganglions lymphatiques et ainsi réduire le risque de récidive de la maladie. Cela permet aussi de voir si la maladie progresse ou non et donc d’adapter le traitement postopératoire.</p>
      <p>Le curage axillaire est réalisé quand :</p>
       <ul>
        <li>-Le cancer du sein est un cancer infiltrant ;</li>
        <li>-L’exérèse du ganglion sentinelle n’est pas possible ;</li>
        <li>-le ganglion sentinelle contient des cellules cancéreuses ;</li>
        <li>-La chirurgie fait suite à une chimiothérapie néo-adjuvante.</li>
      </ul>
      <p>Tous les tissus retirés au cours de l’opération, appelés pièces opératoires, sont analysés :</p>
      <ul>
        <li>-Le type de tumeur, le stade et le grade du cancer sont confirmés ;</li>
        <li>-La marge de sécurité laissée lors d’une chirurgie conservatrice est vérifiée ;</li>
        <li>-Le statut des récepteurs hormonaux et le statut HER2, des facteurs prédictifs de réponse aux traitements, sont déterminés.</li>
      </ul>
      <p>Chirurgie du cancer du sein : les effets secondaires</p>
      <p>Des effets secondaires variables en deux temps : à court terme et long terme</p>
      <p>À court terme :</p>
      <p>Ils se manifestent immédiatement après l’intervention, ou quelques semaines plus tard, et sont le plus souvent temporaires :</p>
      <ul>
        <li>-La fatigue ;</li>
        <li>-La douleur, autour de l’incision (sensation de resserrement au niveau de l’aisselle et dans le bras) ;</li>
        <li>-Un œdème autour de la zone opérée, du thorax ou du bras ;</li>
        <li>-Un écoulement de lymphe, accumulée sous la peau ;</li>
        <li>-Un hématome ;</li>
        <li>-Des troubles de la sensibilité à l’intérieur du bras, comme un engourdissement, une sensibilité réduite, une sensation de froid.</li>
      </ul>
      <p>À long terme :</p>
      <p>Ils surviennent bien après l’opération et peuvent durer beaucoup plus longtemps :</p>
      <ul>
        <li>-Une rougeur de la cicatrice ;</li>
        <li>-Un lymphœdème du bras ou « gros bras », dû à une accumulation de lymphe (surtout observé lors d’un curage axillaire) ;</li>
        <li>-Une douleur, une raideur, une baisse de la force de l’épaule ou du bras ;</li>
        <li>-Un risque d’infection accru.</li>
      </ul>
      <p>Prévenir le lymphœdème ou « gros bras »</p>
      <p>Un lymphœdème peut se manifester quelques semaines ou quelques mois (voire des années parfois) après le curage ganglionnaire. Des mesures peuvent toutefois, au quotidien, être adoptées pour prévenir ce phénomène, comme :</p>
      <ul>
        <li>-Protéger le bras opéré pour éviter de se blesser ;</li>
        <li>-Se désinfecter immédiatement en cas de blessure ;</li>
        <li>-Eviter le port de charges lourdes du côté du bras concerné ;</li>
        <li>-Eviter les injections ou la prise de tension du côté du bras concerné ;</li>
        <li>-Lutter contre le surpoids pour permettre d’améliorer l’œdème ;</li>
        <li>-Porter un soutien-gorge adapté pour ne pas entraver le drainage du sein.</li>
      </ul>