<!DOCTYPE html>
<html>
<head>
    <style>
        body {
          background-color: pink;
        }
      </style>
  <p>La chimiothérapie du cancer du sein présente de nombreux avantages et n'est pas aussi agressive aujourd'hui qu'il y a quelques années. Généralement, ce traitement est combiné avec d'autres.</p>
</head>
<body>
  <div>
    <img src="assets/images/chimiotherapie.jpg" alt="chimio">
    <p>La chimiothérapie du cancer du sein est un traitement qui utilise des médicaments puissants pour attaquer les cellules cancéreuses. Parfois, elle est utilisée pour éradiquer la maladie ; d’autres fois, l’objectif est de l’empêcher de se propager ou d’atténuer les symptômes.

        Certaines personnes peuvent être traitées avec un seul type de chimiothérapie pour le cancer du sein. Cependant, il est plus courant que plusieurs types soient utilisés simultanément, en combinaison avec d’autres approches.<strong>Ce traitement est généralement administré par voie intraveineuse ou orale.
        </strong>Certains ont peur des effets secondaires. Malgré cela, tout peut être surmonté avec patience.</p>
        <p><strong>Pourquoi la chimiothérapie est-elle indiquée pour le cancer du sein ?</strong></p> <p>Toutes les cellules du corps se divisent pour croître ou réparer les dommages. Le cancer survient lorsque certaines cellules commencent à se diviser et à croître de façon incontrôlée. Cela provoque la formation d’une masse agglutinée, ce que nous appelons une tumeur.

        La chimiothérapie du cancer du sein est l’un des moyens de traiter le problème. Cette méthode interrompt cette augmentation écrasante de cellules à croissance rapide.
        
        Certains des médicaments utilisés peuvent endommager le matériel génétique des cellules à croissance rapide. D’autres modifient la vitesse de division des cellules.Il faut dire que pas toutes les personnes atteintes de cancer de sein auront besoin d’une chimiothérapie. Chaque cas est unique et parfois la chirurgie ou la radiothérapie sont plus efficaces.</p>
        <p><strong>Comment est-elle administrée ?</strong></p> <p> La chimiothérapie du cancer du sein peut être administrée dans un cabinet médical, un centre spécialisé ou un hôpital. Le plus souvent, elle est appliquée par voie intraveineuse : il peut s’agir d’une injection qui dure quelques minutes ou à une perfusion qui prend plus de temps.

        Dans de nombreux cas, un dispositif plus grand et plus solide est nécessaire pour effectuer la perfusion. Ces instruments sont appelés cathéters veineux centraux . Ils peuvent être de divers types.
        
        La chimiothérapie du cancer du sein est administrée par cycles de 2 ou 3 semaines, suivis d’une période de repos pour permettre au patient de se remettre des effets secondaires. Cependant, cela peut varier en fonction des médicaments utilisés.

Pour les cancers qui en sont à leurs débuts, le traitement peut prendre de 3 à 6 mois. Si le cancer est avancé, il faudra peut-être plus de temps. Tout dépend de l’état de chaque patient et des médicaments prescrits.
    </p> <p><strong>La chimiothérapie du cancer du sein à différents stades</strong></p> <p>La chimiothérapie du cancer du sein varie selon le stade de la maladie. En général, il existe un type de traitement pour les stades I et II. Un autre traitement s’applique au stade III.</p>
    <p><strong>Chimiothérapie de stade I</strong></p> <p>Le cancer du sein de stade I est plutôt petit et ne s’est pas propagé aux ganglions lymphatiques ou ne s’est propagé que très peu. Le traitement de première intention dans ces cas est la chirurgie : le sein peut être complètement extrait.

        En règle générale, la radiothérapie est administrée par la suite. Cependant, dans certains cas, une chimiothérapie est également nécessaire. En particulier, lorsque la tumeur mesure plus de 1 centimètre de large ou présente des caractéristiques défavorables.
        
        Dans ces cas, on parle de chimiothérapie adjuvante. Elle peut également être réalisée avant la chirurgie, lorsqu’on considère que cette option augmentera le succès de l’intervention. On parle dans ce cas de chimiothérapie néoadjuvante.</p>
        <p><strong>Chimiothérapie de stade II</strong></p> <p>Les cancers de stade II sont légèrement plus gros que les précédents et se sont propagés à quelques ganglions lymphatiques voisins du sein. Dans ces cas, un protocole similaire à celui des cancers de stade I est suivi, mais l’utilisation de la chimiothérapie avant la chirurgie est généralement plus courante.

            Cette procédure fait rétrécir un peu la tumeur avant la chirurgie, augmentant ainsi les chances de sauver une grande partie du sein. Cependant, elle n’affecte pas la survie.La chimiothérapie pour le cancer du sein de stade II peut également être administrée après la chirurgie ou avant et après la chirurgie. Pour savoir quelle est la meilleure alternative, un test comme l’oncotype DX est généralement effectué.</p>
            <p><strong> Chimiothérapie de stade III</strong></p> <p>Le cancer du sein de stade III se caractérise par la présence d’une grosse tumeur, supérieure à 5 centimètres. Il s’est également propagé à de nombreux ganglions lymphatiques voisins ou à des tissus voisins, tels que la peau sur le sein ou le muscle sous celui-ci.

                Dans ces cas, il est très courant de recourir à une chimiothérapie néo-adjuvante ou préalable à la chirurgie. Comme expliqué ci-dessus, l’objectif est de réduire la taille de la tumeur, augmentant ainsi les chances de conserver le sein. Si celle-ci n’est pas suffisamment réduite, une mastectomie radicale ou une excision totale devra être pratiquée.Dans certains cas, une chimiothérapie peut également être nécessaire pour le cancer du sein après une intervention chirurgicale, parfois jusqu’à un an. Il existe également des cas où le traitement commence par une intervention chirurgicale, puis une chimiothérapie est effectuée.</p>
                <p><strong>Les critères de chimiothérapie du cancer du sein </strong></p> <p>Bien que la chimiothérapie du cancer du sein génère une série d’effets secondaires qui peuvent être très gênants, il est également vrai qu’elle offre des avantages importants pour le traitement de la maladie.</p>
                <p>En général, elle est considérée comme une bonne option dans les cas suivants :</p>
                    <ul>
                    <li><strong>-Cancer de grande taille et de grade supérieur:</strong>Ils ont tendance à réapparaître et la chimiothérapie permet d’éviter ce risque.</li>
                    <li><strong>-Propagation aux ganglions lymphatiques.</strong></li>
                    <li><strong>-Patients jeunes atteints d’un cancer agressif.</strong></li>
                    <li><strong>-État de santé:</strong>La présence de maladies cardiaques, de diabète et d’autres conditions limite ou conditionne la chimiothérapie.</li>
                    <li><strong>-Niveau HER2:</strong>Cette mesure est utilisée pour classer la gravité du cancer.</li>
                  </ul>
                  <p> <strong>Moins d’effets secondaires</strong></p> <p>La chimiothérapie du cancer du sein est souvent intimidante. Cependant, il est important de préciser que la science a parcouru un long chemin dans ce domaine. C’est pourquoi les traitements actuels rendent les effets secondaires beaucoup plus faciles à tolérer.

                    Pendant l’approche, il est très important d’avoir une nutrition adéquate, de se reposer suffisamment et de prendre soin de sa santé mentale. Tous ces facteurs contribuent à de meilleurs résultats. Il est également conseillé de parler à des personnes qui ont vécu la même situation.</p>
            
  </div>
</body>
</html>
