<div>
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- <app-navebar> </app-navebar> -->
    <app-navebar></app-navebar>
    <section id="home" class="hero-area">
        <!-- <div class="container"> -->
          <!-- Start Features Area -->
    <section id="features" class="features section">
       <div class="container"> 
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s">TRAITEMENTS</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Comment traiter le cancer du sein?
                        </h2>
                       <h4><p class="wow fadeInUp" data-wow-delay=".6s">Le traitement dépend du type de cancer et de son stade d’évolution.Le traitement du cancer du sein peut être très efficace, en particulier si la maladie est détectée rapidement.
                         Il associe souvent une ablation, de la radiothérapie et un traitement médicamenteux (thérapie hormonale, chimiothérapie et/ou thérapie biologique ciblée),
                          visant à traiter le cancer microscopique à partir de la tumeur cancéreuse qui s’est propagé à travers les vaisseaux sanguins.

                           </p></h4> 
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-6 col-12" > 
                    <!-- <div class="single-feature wow fadeInUp" data-wow-delay=".6s"> -->
                    <!-- Start Single Feature -->
                    <img  class="single-feature wow fadeInUp" data-wow-delay=".6s" class="d-block w-100" src="assets/images/chirurgie.jpg" >
                        <!-- <a href="javascript:void(0)" class="btn"> MaMMOGRAPHIE</a> -->
                        <!-- <i class="lni lni-lock"></i> -->
                        <div class="button add-list-button" >
                            <a href="/chirurgie" class="btn"> CHIRURGIE</a>
                        <!-- </div> -->
                        
                    <!-- End Single Feature -->
               </div>
            </div>
                <div class="col-lg-4 col-md-6 col-12"> 
                    <!-- Start Single Feature -->
                    <!-- <div class="single-feature wow fadeInUp" data-wow-delay=".6s"> -->
                        <img class="single-feature wow fadeInUp" data-wow-delay=".6s"class="d-block w-100" src="assets/images/radiotherapie1.jpg"  >
                        <!-- <a href="javascript:void(0)" class="btn"> AUTOPALPATION</a> -->
                        <div class="button add-list-button">
                            <a href="/radiotherapie" class="btn"> RADIOTHERAPIE</a>
                        </div>
                        <!-- <h3>SSL Certificates</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page at its layout.</p> -->
               
                    <!-- End Single Feature -->
                <!-- </div> -->
                </div>
                <div class="col-lg-4 col-md-6 col-12"> 
                    <!-- Start Single Feature -->
                   <!-- <div class="single-feature wow fadeInUp" data-wow-delay=".6s"> -->
                    <img  src="assets/images/chimiotherapie.jpg" class="single-feature wow fadeInUp" data-wow-delay=".6s"class="d-block w-100"N >
                   
                        <!-- <i class="lni lni-reload"></i> -->
                        <div class="button add-list-button" >
                            <a href="/chimiotherapie" class="btn">CHIMIOTHERAPIE</a>
                        </div>
                    <!-- </div>  -->
                    <!-- End Single Feature -->
                 </div>
                <!-- <div class="col-lg-4 col-md-6 col-12"> 
                    Start Single Feature
                     <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-shield"></i>
                        <h3>Advanced Security</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page at its layout.</p>
                    </div> 
                    End Single Feature
                 </div> -->
                <!-- <div class="col-lg-4 col-md-6 col-12"> 
                    Start Single Feature
                     <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
                        <i class="lni lni-cog"></i>
                        <h3>Powerful API</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page at its layout.</p>
                    </div> 
                    End Single Feature
                 </div> -->
                <!-- <div class="col-lg-4 col-md-6 col-12"> 
                    Start Single Feature
                     <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
                        <i class="lni lni-layers"></i>
                        <h3>Database Backups</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page at its layout.</p>
                    </div>
                    End Single Feature
                 </div> -->
            </div>
        </div>
    </section>
    <!-- End Features Area -->
        <!-- </div> -->
    </section>
</div>