<div>
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <app-navebar></app-navebar>
    <section id="home" class="hero-area">
        <section id="features" class="features section">

        <div class="container"> 
             <div class="row">
                 <div class="col-12">
                     <div class="section-title">
                         <h2 class="wow zoomIn" data-wow-delay=".2s">Mammographie</h2>
                         <h3 class="wow fadeInUp" data-wow-delay=".4s"> <p>1. Qu’est-ce que c’est ?</p>
                         </h3>
                         <img  class="single-feature wow fadeInUp" data-wow-delay=".6s" class="d-block w-100" src="assets/images/Mamog.jpg" >
                        <h2><p class="wow fadeInUp" data-wow-delay=".6s">La mammographie est un examen radiologique des seins qui s’intègre dans le dépistage des cancers et des lésions pré-cancéreuses des seins.</p></h2> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">La mammographie est l’examen radiologique des seins utilisant les rayons X.</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">C’est l'examen de référence pour le dépistage et le diagnostic des affections mammaires. Il permet de détecter des cancers ou des lésions de petites tailles, le plus souvent trop petites pour être palpées. La mammographie est aussi utilisée pour le diagnostic de certains symptômes qui touchent le sein : nodule, grosseurs, douleurs, modification de la peau ou du disque entourant le mamelon, inflammation, écoulement du mamelon.</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">La mammographie est réalisée à l'aide d'un appareil qui sert exclusivement à l'exploration des seins et spécifiquement adapté à celle-ci : un mammographe. Des clichés sous différents angles sont réalisés. Lors du dépistage des lésions du sein, il est recommandé de réaliser deux clichés de chaque sein (face et profil), parfois trois clichés (face, profil, biais permettant l’exploration du creux axillaire).</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">Le sein est comprimé entre une plaque de compression en plastique et le plateau porte-film. Cette compression doit être suffisante mais appliquée progressivement pour être bien tolérée par la femme, elle est indispensable à la bonne qualité de l'examen.</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">Elle permet, en diminuant l'épaisseur de la glande, de réduire la dose de rayons X reçue par la femme, d'améliorer le contraste de l'image et d'empêcher le flou lié aux mouvements.</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">La traction suffisante du sein est un autre élément déterminant de la qualité du cliché, car elle permet de s'assurer que toute la glande figure sur ce cliché, sans risque de méconnaître une partie du sein et les lésions qui pourraient s'y trouver.</p></h4> 
                        
                     </div>
                 </div>
             </div>
             <!-- <div class="row"> -->
                   <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                         <i class="lni lni-shield"></i>
                         <h3>Advanced Security</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div> 
                     End Single Feature
                  </div> -->
                 <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
                         <i class="lni lni-cog"></i>
                         <h3>Powerful API</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div> 
                     End Single Feature
                  </div> -->
                 <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
                         <i class="lni lni-layers"></i>
                         <h3>Database Backups</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div>
                     End Single Feature
                  </div> -->
             <!-- </div> -->
         </div>
     </section>

     <section id="role" class="features section">
        <div class="container"> 
             <div class="row">
                 <div class="col-12">
                     <div class="section-title">
                         <!-- <h2 class="wow zoomIn" data-wow-delay=".2s">Mammographie</h2> -->
                         <h3 class="wow fadeInUp" data-wow-delay=".4s"> <p>2. Quel intérêt ? ?</p>
                         </h3>
                        <h2><p class="wow fadeInUp" data-wow-delay=".6s">La mammographie est l'examen de référence pour étudier les seins des femmes.</p></h2> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">La mammographie est utilisé pour le dépistage systématique et organisé des maladies du sein conseillé tous les 2 ans après l’âge de 50 ans. Le dépistage organisé du cancer du sein a été mis en place par les autorités sanitaires afin de faire baisser la mortalité de ce cancer qui est le plus fréquent des cancers féminins. Le principal but de l'examen mammographique est de détecter un éventuel cancer au stade le plus précoce possible (petites images stellaires, microcalcifications en amas) et d’intervenir rapidement.</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">La mammographie est aussi effectuée après avis du médecin chez les femmes issues de familles à risque ou lorsqu’il existe des lésions qui peuvent se transformer en cancer (mastose fibrokystique).</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">Elle est aussi l’examen indispensable pour  le diagnostic des affections du sein en présence d'un symptôme : nodule palpable, inflammation, modifications cutanées, écoulement, inflammation. Chez la femme de moins de 30 ans, c'est l'échographie qui est réalisée en premier lieu en raison de la densité élevée des seins. La mammographie est l'examen utilisé pour le dépistage de masse organisé du cancer du sein, mis en place progressivement dans les départements français.</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">Aujourd’hui, grâce aux appareils de mammographie numérisée, aux techniques complémentaires (IRM, échographie, ponction) et au recours à une lecture des images faite par plusieurs radiologues spécialisés, on estime que plus de 95 % des lésions du sein peuvent être diagnostiquées.</p></h4> 
                       
                     </div>
                 </div>
             </div>
             <!-- <div class="row"> -->
                   <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                         <i class="lni lni-shield"></i>
                         <h3>Advanced Security</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div> 
                     End Single Feature
                  </div> -->
                 <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
                         <i class="lni lni-cog"></i>
                         <h3>Powerful API</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div> 
                     End Single Feature
                  </div> -->
                 <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
                         <i class="lni lni-layers"></i>
                         <h3>Database Backups</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div>
                     End Single Feature
                  </div> -->
             <!-- </div> -->
         </div>
     </section>

     <section id="definiton" class="features section">
        <div class="container"> 
             <div class="row">
                 <div class="col-12">
                     <div class="section-title">
                         <h3 class="wow fadeInUp" data-wow-delay=".4s"> <p>3. Comment se déroule l’examen ?</p>
                         </h3>
                        <h2><p class="wow fadeInUp" data-wow-delay=".6s">La mammographie est un examen simple et sans danger.</p></h2> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">Idéalement, la mammographie doit être réalisée durant la première moitié du cycle. Cet examen qui délivre des rayons X est contre-indiqué chez la femme enceinte.</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">L’examen dure 20 minutes environ. Il n'est pas nécessaire d'être à jeun, mais il est fortement conseillé de ne pas mettre de pommade (quelle qu'elle soit) sur les seins. Cela peut donner de fausses images et de rendre difficile la réalisation de l'examen.</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">Aucune préparation n’est nécessaire sauf en cas d’injection d’un produit dans les glandes du sein en raison d’un écoulement (galactrographie).</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">Pour l'interprétation de l'examen, le radiologue a besoin d'un certain nombre de renseignements. Il est indispensable de connaître les antécédents personnels et familiaux, ses facteurs de risques et les différentes thérapeutiques en cours.</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">Souvent, la radiologue débute l’examen par une palpation des seins afin de savoir s’il existe des anomalies particulières à étudier à l’examen radiographique.</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">En fonction des anomalies rencontrées, des incidences complémentaires pourront être réalisées (agrandissements, profil interne, cliché déroulé, cliché localisé). Ces incidences localisées et agrandies sont souvent réalisées pour l'analyse des microcalcifications. De même, la réalisation d'une échographie peut être motivée pour préciser certaines anomalies mammographiques ou en présence de sein très dense, en particulier chez une patiente à risque ou en cas d'anomalie à la palpation. Enfin, l’IRM trouve une place de plus en plus importante en complément de la mammographie.</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">Parfois un kyste peut être ponctionné au décours de la mammographie. Le médecin réalise le plus souvent une anesthésie locale avant de réaliser ce type de ponction sous échographie qui visualise en temps réel l'évacuation kystique</p></h4> 
                        
                     </div>
                 </div>
             </div>
             <!-- <div class="row"> -->
                   <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                         <i class="lni lni-shield"></i>
                         <h3>Advanced Security</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div> 
                     End Single Feature
                  </div> -->
                 <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
                         <i class="lni lni-cog"></i>
                         <h3>Powerful API</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div> 
                     End Single Feature
                  </div> -->
                 <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
                         <i class="lni lni-layers"></i>
                         <h3>Database Backups</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div>
                     End Single Feature
                  </div> -->
             <!-- </div> -->
         </div>
     </section>
    <!-- <section id=overview class="app-info section">
        <section>
        <div class="info-one style2">
            <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-12">
            <div class="info-image wow fadeInLeft" data-wow-delay=.3s>
            <img class=ss1 src="assets/images/anatomie-sein.png" alt="#" data-pagespeed-url-hash=2622135838 onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
            
            <div class="info-text wow fadeInRight" data-wow-delay=.5s>
            <h2>Anatomie du sein</h2>
            <p>Les seins sont des organes de nature glandulaire. Ils se situent en avant des muscles pectoraux qui les soutiennent. Chaque sein se divise en 15 à 20 secteurs appelés lobes.</p>
            <p>Chacun de ces lobes se divise en nombreux lobules, plus petits, qui s’achèvent en douzaines de minuscules bulbes sécrétant le lait.</p>
            <p>Les lobes et lobules sont reliés entre eux par les canaux galactophores qui collectent le lait. Ceux-ci aboutissent au mamelon, situé au centre d’une zone pigmentée, l’aréole.</p>
            <p>La plus grande partie du sein est constituée de tissu graisseux qui comble l’espace situé entre les différentes structures du sein.</p>
            </div>
            
            </div>
            </div>
        </div>
        </section>

        <section>
        <div class=container>
        <div class=info-one>
        <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-12">
        
        <div class="info-text wow fadeInLeft" data-wow-delay=.3s>
    
        <h2>Le cancer du sein est le cancer le plus fréquent chez la femme :
            il représente selon l’Institut national du cancer 33 % des cas de cancers féminins.</h2>
        <p>Un cancer du sein résulte d'un dérèglement de certaines cellules qui se multiplient et forment le plus souvent une
            masse appelée tumeur. Il en existe différents types qui n’évoluent pas de la même manière.</p>
        <p>Certains sont « agressifs » et évoluent très rapidement, d’autres plus lentement.
            Les cellules cancéreuses peuvent rester dans le sein. Elles peuvent aussi se propager dans d’autres organes ce qui est une situation encore plus menaçante. 
            On parle alors de métastases. Dans la majorité des cas, le développement d'un cancer du sein prend plusieurs mois, voire plusieurs années.</p>          
        </div>
        
        </div>
        <div class="col-lg-6 col-md-12 col-12">
        <div class="info-image wow fadeInRight" data-wow-delay=.5s>
        <img class=ss1 src="assets/images/cancer-senegal.png" alt="#" data-pagespeed-url-hash=2327635917 onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>

        <section>
        <div class="info-one style2">
            <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-12">
            <div class="info-image wow fadeInLeft" data-wow-delay=.3s>
            <img class=ss1 src="assets/images/femme3.png" alt="#" data-pagespeed-url-hash=2622135838 onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
            
            <div class="info-text wow fadeInRight" data-wow-delay=.5s>
            <h2>Comment reconnaitre un cancer du sein</h2>
            <p>Le cancer du sein peut se voir à tous les âges de la vie, y compris pendant la grossesse. Il est cependant plus fréquent après la ménopause.</p>
            <p>Il faut donc voir son médecin si on constate :<br> Une tuméfaction dure dans le sein, mal limitée, indolore.<br>Un pli ou une modification de la peau du sein.<br>Un écoulement par le mamelon surtout s’il est sanglant.
            <br>Une modification du mamelon qui rentre ou présente un eczéma.<br>Un ganglion sous le bras.</p>
            <p>Le médecin vous examinera et vous prescrira, s’il le juge nécessaire, une radiographie et/ou une échographie des seins. En fonction du résultat de ces examens, on verra s’il faut ou non faire une biopsie.
               Celle-ci pourra être faite par le radiologue ou le chirurgien.</p>
            </div>
            
            </div>
            </div>
        </div>
        </section>-->

            
    </section> 
</div>

