<!DOCTYPE html>
<html>
<head>
    <style>
        body {
          background-color: pink;
        }
      </style>
</head>
<body>
  <div>
    <img src="assets/images/tabac1.jpg" alt="tabagisme">
    <p><strong>Quel est le lien entre tabagisme et cancer du sein ?</strong></p>
    <p>Le tabagisme est la principale cause de cancer dans le monde. En effet, on estime à environ 4000 le nombre de substances chimiques présentes dans la fumée du tabac. Parmi ces substances, plus de 50 ont été identifiées comme cancérogènes pour l’homme.</p>

    <p>De nombreuses études ont mis en évidence un lien entre le fait de fumer, et le risque de développer un cancer du sein : depuis 2009, 150 études épidémiologiques du CIRC (Centre International de Recherche sur le Cancer) ont montré une augmentation de ce risque.</p>
    <p>En Afrique, le nombre estimé de nouveaux cas de cancer du sein attribuable au tabagisme chez les femmes âgées de plus de 30 ans était de 2352 cas en 2015.</p> 

    <p>D’après ces études, le tabagisme actif n’est pas seul en cause, puisque le tabagisme passif (exposition à la fumée de cigarettes de l’entourage) peut aussi favoriser l’apparition d’une tumeur maligne.</p>


    <p><strong>Pourquoi arrêter le tabac, même après un diagnostic de cancer du sein ?</strong></p>

    <p>Même lorsqu’un cancer du sein a été diagnostiqué, arrêter de fumer peut apporter des bénéfices notables. En effet, une vaste étude réalisée entre 1988 et 2008 sur plus de 20 000 femmes a montré que l’arrêt du tabac, même en présence d’un cancer du sein, permettait de réduire la mortalité de la maladie.</p>

    <p>Cette étude a mis en évidence un risque de décès réduit de 33% chez les patientes ayant arrêté de fumer, par rapport à celles ayant continué. Cette diminution inclut également les femmes ayant arrêté le tabac après leur diagnostic. L’étude prend en compte toutes les causes de mortalité liées au tabac : cancer du sein, cancer respiratoire et maladies cardio-vasculaires.</p>

    <p>Ce chiffre nous montre que même en présence de la maladie, il n’est jamais trop tard pour arrêter de fumer, et percevoir les bénéfices de cet arrêt.</p>


    <p><strong>Les bienfaits de l’arrêt du tabac après un cancer du sein</strong></p>

    <p>Tous les facteurs de risque du cancer du sein ne sont pas évitables. En revanche, le tabac fait partie des premiers éléments sur lesquels chacun peut intervenir pour préserver sa santé. Et ce, quel que soit l’âge des patientes, avant ou après le diagnostic, et même après rémission pour prévenir les récidives et les autres maladies.</p>

    <p>En arrêtant de fumer avant 30 ans, on peut tout à fait retrouver l’espérance de vie d’une personne n’ayant jamais fumé. En arrêtant après 30 ans et même après 50 ans, les études montrent qu’on réduit les risques de mortalité d’un grand nombre de maladies causées par le tabac. 
        En conclusion, les conséquences du tabac sur la santé sont réversibles à tout âge en cas d’arrêt ; le bénéfice principalement recherché étant l’amélioration de la santé cardiovasculaire.</p>

