
<!DOCTYPE html>
<html>
<head>
    <style>
        .center {
      text-align: center;
      
      body {
      font-size: 10px; 
    }
  }
      </style>
</head>
<body>
  <div class="center">
    <img src="assets/images/alimentation.jpg" alt="alimentation" style="width: 600px; height: 400px;">
    <p class="wow fadeInUp" data-wow-delay=".6s"><strong style="color: rgb(236, 151, 165);">Qu’est-ce qu’une alimentation saine et adaptée?</strong></p>

    <p class="wow fadeInUp" data-wow-delay=".6s">Manger sainement signifie consommer quotidiennement des aliments diversifiés et prioriser fréquemment et en quantité les aliments dont la valeur nutritionnelle est élevée. Plus un aliment contient d’éléments tels que des protéines, des fibres, des vitamines et des minéraux, plus sa valeur nutritionnelle est élevée, et donc intéressante.
       À l’inverse, plus un aliment contient de sucres ajoutés, de gras trans, saturés et de sel, moins il est intéressant nutritionnellement parlant. Dans le cadre du cancer du sein, adapter son alimentation permet de maintenir des apports nutritionnels qui couvrent les besoins malgré les changements engendrés par la maladie.</p>

    <p class="wow fadeInUp" data-wow-delay=".6s"><strong style="color: rgb(236, 151, 165);">Bien manger pour déjouer les effets secondaires, et vice versa</strong></p>
         <p class="wow fadeInUp" data-wow-delay=".6s">Certains freins à l’adoption d’une alimentation saine après le diagnostic peuvent être reliés aux effets secondaires des traitements comme la fatigue et la perte d’appétit, qu’il faudra parfois réussir à vaincre afin de commencer à incorporer une routine bénéfique : </p> 
         <ul>
          <li class="wow fadeInUp" data-wow-delay=".6s" style="color: rgb(236, 151, 165);">- Prévenir et lutter contre la fatigue </li>
        </ul>
           <p class="wow fadeInUp" data-wow-delay=".6s">La fatigue est l’un des effets secondaires du cancer du sein et des traitements les plus fréquents. Il ne s’agit pas d’une fatigue habituelle qu’il est facile de contrer avec un peu de repos, mais plutôt d’une fatigue persistante, qui impacte la qualité de vie. Alors qu’une alimentation déficitaire contribue à aggraver le sentiment d’épuisement, bien manger peut aider à fournir à votre corps l’énergie et les éléments nécessaires à son bon fonctionnement.
             De plus, il est prouvé que combinée à une activité physique adaptée, une bonne alimentation permet de contrer efficacement la fatigue tout en améliorant la qualité du sommeil. </p> 
             <ul>
              <li class="wow fadeInUp" data-wow-delay=".6s" style="color: rgb(236, 151, 165);">-Soulager les symptômes digestifs </li>
            </ul>  
            <p class="wow fadeInUp" data-wow-delay=".6s">L’alimentation s’avère être une alliée importante pour soulager les effets secondaires de la chimiothérapie, plus particulièrement ceux qui affectent le système digestif et l’appétit. 
              L’efficacité d’une intervention nutritionnelle est prouvée notamment pour gérer les nausées, le reflux gastrique, la diarrhée et la constipation.</p>
              <p class="wow fadeInUp" data-wow-delay=".6s"> <strong style="color: rgb(236, 151, 165);">Prévenir les complications du cancer du sein</strong></p>
              <p class="wow fadeInUp" data-wow-delay=".6s">Une fois votre saine routine alimentaire mise en place, de nombreux autres bénéfices face aux complications de la maladie pourraient faire surface :  </p>
              <ul>
                <li class="wow fadeInUp" data-wow-delay=".6s" style="color: rgb(236, 151, 165);">-Prévenir et lutter contre l’ostéoporose</li>
              </ul>
              <p class="wow fadeInUp" data-wow-delay=".6s">Un autre effet secondaire courant du traitement du cancer du sein est l’ostéoporose. Cette affection entraine une dégradation accrue des os, qui deviennent plus faibles et plus « poreux », augmentant ainsi le risque de fracture.
                 Adapter son alimentation et assurer des apports suffisants (notamment en calcium et en vitamine D) fait partie intégrante des stratégies pour contribuer à maintenir la santé des os et réduire le risque de fractures pendant et après les traitements. </p>
                 <ul>
                  <li class="wow fadeInUp" data-wow-delay=".6s" style="color: rgb(236, 151, 165);">-Favoriser l’immunité </li>
                </ul> 
                <p class="wow fadeInUp" data-wow-delay=".6s">Les traitements contre un cancer du sein, notamment la chimiothérapie, peuvent affaiblir le système immunitaire. 
                  Une fois de plus, adopter une alimentation adaptée et prendre certaines précautions permet de supporter les fonctions immunitaires et prévenir les conséquences d’un système immunitaire affaiblit, telles que les risques d’infections/complications. </p>
                  <ul>
                    <li class="wow fadeInUp" data-wow-delay=".6s" style="color: rgb(236, 151, 165);">-Prévenir les variations de la composition corporelle  </li>
                  </ul>
                  <p class="wow fadeInUp" data-wow-delay=".6s">Le cancer du sein et les traitements entrainent des bouleversements au niveau du métabolisme, de la digestion, de l’appétit et du comportement alimentaire. Ces changements peuvent engendrer des variations de la composition corporelle. Une alimentation et une activité physique adaptées peuvent contribuer à en prévenir et / ou à en limiter les variations afin de:  </p>
                  <p class="wow fadeInUp" data-wow-delay=".6s"><strong>Maintenir votre masse musculaire et prévenir la dénutrition</strong>(se caractérisant par une perte de poids importante et involontaire, en particulier une perte de masse musculaire). Cette condition peut fragiliser la personne, diminuer son autonomie, augmenter le risque de complications et entraver le bon déroulement des traitements. </p>
                  <p class="wow fadeInUp" data-wow-delay=".6s"><strong>Limiter les variations de masse grasse et la surcharge pondérale</strong>:La prise de poids est fréquente chez les personnes traitées pour un cancer du sein. Elle est souvent multifactorielle et peut arriver malgré vous.</p>
                  <p class="wow fadeInUp" data-wow-delay=".6s">De plus en plus d’études tendent à démontrer que la qualité de l’alimentation, l’activité physique, la consommation d’alcool et les variations de la composition corporelle jouent un rôle au niveau de la qualité de vie, mais aussi au niveau du pronostic, du risque de récidive et de second cancer.  </p>

                  <p class="wow fadeInUp" data-wow-delay=".6s" ><strong style="color: rgb(236, 151, 165);">Bien-être émotionnel</strong></p>
                  <p class="wow fadeInUp" data-wow-delay=".6s" >Si l’alimentation joue un rôle important pour la santé physique, n’oublions pas son rôle essentiel dans le maintien d’une bonne santé mentale et émotionnelle! En effet, nous entretenons tous une relation intime avec l’alimentation et il existe d’ailleurs un lien étroit entre les émotions et l’appétit. Ainsi, bien manger suite à un diagnostic de cancer du sein, c’est aussi et avant tout maintenir le plaisir de manger, mais aussi celui de prendre le temps de prendre soin de soi, en appréciant un bon repas et un moment à cuisiner.</p>