
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
          background-color: pink;
        }
      </style>
</head>
<body>
  <div>
    <img src="assets/images/alimentation.jpg" alt="alimentation">
    <p>Une alimentation saine et bien équilibrée peut aider votre corps à faire face aux effets secondaires des traitements du cancer du sein et à s’en rétablir.
         Parlez à votre équipe de soins si vous vous posez des questions sur les sujets suivants et la façon dont ils peuvent vous affecter.</p>

    <p><strong>Alimentation et récidive de cancer du sein</strong></p>

    <p>Une alimentation saine et bien équilibrée est composée de beaucoup de fruits et de légumes mais de quantités restreintes de viande et de matières grasses.
         Si vous suivez ce régime alimentaire, vous pourrez réduire votre risque d’être atteinte de plusieurs types de cancer, dont le cancer du sein. Votre risque d’avoir d’autres maladies, comme le diabète ou des maladies du cœur, pourrait aussi être réduit.</p>
         <p>On ne possède pas encore assez de preuves pour dire qu’un régime alimentaire spécifique ou que certains aliments permettent de réduire le risque de réapparition du cancer.
           Et très peu de preuves semblent indiquer que vous ne devriez pas manger certains aliments parce qu’ils font augmenter le risque de réapparition du cancer du sein.</p> 
           
           <p><strong></strong></p> 