<!-- <video width="320" height="240" controls>
    <source src="http://techslides.com/demos/sample-videos/small.ogv"/> 
</video> -->
<div>
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <app-navebar></app-navebar>
    <section id="home" class="hero-area">
    <section id="features" class="features section">
        <div class="container"> 
             <div class="row">
                 <div class="col-12">
                     <div class="section-title">
                         <h2 class="wow zoomIn" data-wow-delay=".2s">AUTOPALPATION</h2>
                         <h3 class="wow fadeInUp" data-wow-delay=".4s"> <p>1. Qu’est-ce que c’est ?</p>
                         </h3>
                         <img  class="single-feature wow fadeInUp" data-wow-delay=".6s" class="d-block w-100" src="assets/images/auto1.jpg" >
                        <h2><p class="wow fadeInUp" data-wow-delay=".6s">L’autopalpation mammaire est un sujet qui génère du contenu sur les réseaux sociaux et sur internet. Du fait de la quantité d’informations qui circule sur la toile, il est important de faire attention à la fiabilité des sites consultés et des sources utilisées.</p></h2> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">L’autopalpation mammaire, appelée aussi auto-examen, consiste à s’examiner les seins afin de détecter des modifications qui pourraient orienter vers un diagnostic de cancer.</p></h4> 
                        L'objectif de l'autopalpation mammaire est de repérer toute masse, bosse, changement de texture ou autre anomalie qui pourrait nécessiter une évaluation médicale plus approfondie.
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">Sachez que l’autopalpation ne remplace pas l’examen clinique réalisé par votre médecin et encore moins la mammographie ! C’est pourquoi, toute suspicion relevée lors d’une autopalpation justifie un avis spécialisé sans attendre.</p></h4> 
                        <!-- <h4><p class="wow fadeInUp" data-wow-delay=".6s">La mammographie est réalisée à l'aide d'un appareil qui sert exclusivement à l'exploration des seins et spécifiquement adapté à celle-ci : un mammographe. Des clichés sous différents angles sont réalisés. Lors du dépistage des lésions du sein, il est recommandé de réaliser deux clichés de chaque sein (face et profil), parfois trois clichés (face, profil, biais permettant l’exploration du creux axillaire).</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">Le sein est comprimé entre une plaque de compression en plastique et le plateau porte-film. Cette compression doit être suffisante mais appliquée progressivement pour être bien tolérée par la femme, elle est indispensable à la bonne qualité de l'examen.</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">Elle permet, en diminuant l'épaisseur de la glande, de réduire la dose de rayons X reçue par la femme, d'améliorer le contraste de l'image et d'empêcher le flou lié aux mouvements.</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">La traction suffisante du sein est un autre élément déterminant de la qualité du cliché, car elle permet de s'assurer que toute la glande figure sur ce cliché, sans risque de méconnaître une partie du sein et les lésions qui pourraient s'y trouver.</p></h4>  -->
                        
                     </div>
                 </div>
             </div>
             <!-- <div class="row"> -->
                   <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                         <i class="lni lni-shield"></i>
                         <h3>Advanced Security</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div> 
                     End Single Feature
                  </div> -->
                 <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
                         <i class="lni lni-cog"></i>
                         <h3>Powerful API</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div> 
                     End Single Feature
                  </div> -->
                 <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
                         <i class="lni lni-layers"></i>
                         <h3>Database Backups</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div>
                     End Single Feature
                  </div> -->
             <!-- </div> -->
         </div>
     </section>
     <!-- <div><img  class="single-feature wow fadeInUp" data-wow-delay=".6s" class="d-block w-100" src="assets/images/palpationjpg" ></div> -->
     <!-- <img  class="single-feature wow fadeInUp" data-wow-delay=".6s" class="d-block w-100" src="assets/images/palpationjpg" > -->
     <section id="role" class="features section">
        <div class="container"> 
             <div class="row">
                 <div class="col-12">
                     <div class="section-title">
                         <!-- <h2 class="wow zoomIn" data-wow-delay=".2s">Mammographie</h2> -->
                         <h3 class="wow fadeInUp" data-wow-delay=".4s"> <p>2. Comment réaliser une autopalpation des seins ?</p>
                         </h3>
                        
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">Du fait de sa situation anatomique, le sein est facile à palper, surtout s’il est de volume moyen ou petit.</p></h4> 
                        
                        <!-- <h2><p class="wow fadeInUp" data-wow-delay=".6s">Voici les 3 gestes qu’il est bon d’adopter pour réussir votre autopalpation :</p></h2>  -->
                        <h4> <p class="wow fadeInUp" data-wow-delay=".6s">
                           <p> <b>Position : </b>Tenez-vous devant un miroir, les bras détendus le long du corps.</p>
                           <p><b>Observation :</b> Observez visuellement vos seins à la recherche de changements de forme, de taille, de peau, de mamelon ou de toute déformation ou anomalie visible.
                           </p>
                           <p><b>Palpation debout : </b> Levez le bras droit et utilisez la main gauche pour palper le sein droit. Utilisez la surface des doigts (pas seulement les extrémités) pour appliquer une pression légère, moyenne et ferme sur tout le sein. Effectuez des mouvements circulaires en commençant à l'extérieur du sein et en vous déplaçant vers le mamelon. Couvrez toute la surface du sein, y compris l'aisselle et la région claviculaire supérieure.
                           </p>
                           <p><b>Palpation couchée : </b>Allongez-vous sur le dos avec un oreiller ou une serviette pliée sous l'épaule droite. Placez votre main gauche derrière votre tête. Utilisez votre main droite pour palper votre sein gauche selon la même technique que dans l'étape 3.
                           </p>
                           <p><b>Palpation du mamelon :</b> Examinez votre mamelon en le roulant doucement entre votre pouce et votre index. Recherchez des écoulements, des croûtes, des changements de couleur ou de forme.</p></h4> 
                        <!-- <h4><p class="wow fadeInUp" data-wow-delay=".6s">Geste 2 : Vérifiez sous votre bras l’absence de toute grosseur ou toute zone dure anormale sous la peau.</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">Geste 3 : Vérifiez sous votre bras l’absence de toute grosseur ou toute zone dure anormale sous la peau.</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">Recommencez ces 3 gestes sur votre sein gauche avec votre main droite.</p></h4> -->
                       
                     </div>
                 </div>
             </div>
             <!-- <div class="row"> -->
                   <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                         <i class="lni lni-shield"></i>
                         <h3>Advanced Security</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div> 
                     End Single Feature
                  </div> -->
                 <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
                         <i class="lni lni-cog"></i>
                         <h3>Powerful API</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div> 
                     End Single Feature
                  </div> -->
                 <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
                         <i class="lni lni-layers"></i>
                         <h3>Database Backups</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div>
                     End Single Feature
                  </div> -->
             <!-- </div> -->
         </div>
     </section>

     <section id="definiton" class="features section">
        <div class="container"> 
             <div class="row">
                 <div class="col-12">
                     <div class="section-title">
                         <h3 class="wow fadeInUp" data-wow-delay=".4s"> <p>3. Pourquoi est-il important de vous examiner les seins ?</p>
                         </h3>
                        <!-- <h2><p class="wow fadeInUp" data-wow-delay=".6s">La mammographie est un examen simple et sans danger.</p></h2>  -->
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">La pratique de l’autopalpation des seins vous permet de vous sensibiliser à la prise en charge de votre propre santé et de détecter d’éventuels symptômes de cancer du sein. Elle n’est cependant pas considérée comme une méthode de dépistage.
                            En effet, le cancer du sein est une maladie fréquente chez la femme puisqu’il se situe au 1er rang des cancers féminins et au 2e rang de tous les cancers. En 2017, ce sont près de 59 000 nouveaux cas estimés de cancer du sein qui ont été rapportés.</p></h4> 
                        <h4><p class="wow fadeInUp" data-wow-delay=".6s">En plus d’observer et de palper régulièrement vos seins, il est recommandé de les montrer au moins une fois par an à votre médecin traitant ou à votre gynécologue dès l’âge de 25 ans : la détection d’un cancer du sein à un stade peu avancé de son développement peut vous permettre d’être soignée plus facilement. Avec le dépistage organisé, toutes les femmes âgées de 50 à 74 ans et que votre risque n’est pas significativement élevé, il est recommandé de réaliser une mammographie de dépistage, gratuite, tout les deux ans. Cet examen est gratuit et sans avance de frais.</p></h4> 
                        
                     </div>
                 </div>
             </div>
             <!-- <div class="row"> -->
                   <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                         <i class="lni lni-shield"></i>
                         <h3>Advanced Security</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div> 
                     End Single Feature
                  </div> -->
                 <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
                         <i class="lni lni-cog"></i>
                         <h3>Powerful API</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div> 
                     End Single Feature
                  </div> -->
                 <!-- <div class="col-lg-4 col-md-6 col-12"> 
                     Start Single Feature
                      <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
                         <i class="lni lni-layers"></i>
                         <h3>Database Backups</h3>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                             page at its layout.</p>
                     </div>
                     End Single Feature
                  </div> -->
             <!-- </div> -->
         </div>
     </section>
    <!-- <section id=overview class="app-info section">
        <section>
        <div class="info-one style2">
            <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-12">
            <div class="info-image wow fadeInLeft" data-wow-delay=.3s>
            <img class=ss1 src="assets/images/anatomie-sein.png" alt="#" data-pagespeed-url-hash=2622135838 onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
            
            <div class="info-text wow fadeInRight" data-wow-delay=.5s>
            <h2>Anatomie du sein</h2>
            <p>Les seins sont des organes de nature glandulaire. Ils se situent en avant des muscles pectoraux qui les soutiennent. Chaque sein se divise en 15 à 20 secteurs appelés lobes.</p>
            <p>Chacun de ces lobes se divise en nombreux lobules, plus petits, qui s’achèvent en douzaines de minuscules bulbes sécrétant le lait.</p>
            <p>Les lobes et lobules sont reliés entre eux par les canaux galactophores qui collectent le lait. Ceux-ci aboutissent au mamelon, situé au centre d’une zone pigmentée, l’aréole.</p>
            <p>La plus grande partie du sein est constituée de tissu graisseux qui comble l’espace situé entre les différentes structures du sein.</p>
            </div>
            
            </div>
            </div>
        </div>
        </section>

        <section>
        <div class=container>
        <div class=info-one>
        <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-12">
        
        <div class="info-text wow fadeInLeft" data-wow-delay=.3s>
    
        <h2>Le cancer du sein est le cancer le plus fréquent chez la femme :
            il représente selon l’Institut national du cancer 33 % des cas de cancers féminins.</h2>
        <p>Un cancer du sein résulte d'un dérèglement de certaines cellules qui se multiplient et forment le plus souvent une
            masse appelée tumeur. Il en existe différents types qui n’évoluent pas de la même manière.</p>
        <p>Certains sont « agressifs » et évoluent très rapidement, d’autres plus lentement.
            Les cellules cancéreuses peuvent rester dans le sein. Elles peuvent aussi se propager dans d’autres organes ce qui est une situation encore plus menaçante. 
            On parle alors de métastases. Dans la majorité des cas, le développement d'un cancer du sein prend plusieurs mois, voire plusieurs années.</p>          
        </div>
        
        </div>
        <div class="col-lg-6 col-md-12 col-12">
        <div class="info-image wow fadeInRight" data-wow-delay=.5s>
        <img class=ss1 src="assets/images/cancer-senegal.png" alt="#" data-pagespeed-url-hash=2327635917 onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>

        <section>
        <div class="info-one style2">
            <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-12">
            <div class="info-image wow fadeInLeft" data-wow-delay=.3s>
            <img class=ss1 src="assets/images/femme3.png" alt="#" data-pagespeed-url-hash=2622135838 onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
            
            <div class="info-text wow fadeInRight" data-wow-delay=.5s>
            <h2>Comment reconnaitre un cancer du sein</h2>
            <p>Le cancer du sein peut se voir à tous les âges de la vie, y compris pendant la grossesse. Il est cependant plus fréquent après la ménopause.</p>
            <p>Il faut donc voir son médecin si on constate :<br> Une tuméfaction dure dans le sein, mal limitée, indolore.<br>Un pli ou une modification de la peau du sein.<br>Un écoulement par le mamelon surtout s’il est sanglant.
            <br>Une modification du mamelon qui rentre ou présente un eczéma.<br>Un ganglion sous le bras.</p>
            <p>Le médecin vous examinera et vous prescrira, s’il le juge nécessaire, une radiographie et/ou une échographie des seins. En fonction du résultat de ces examens, on verra s’il faut ou non faire une biopsie.
               Celle-ci pourra être faite par le radiologue ou le chirurgien.</p>
            </div>
            
            </div>
            </div>
        </div>
        </section>

            
    </section> -->
</section>
</div>



