<!DOCTYPE html>
<html>
<head>
    <style>
        .center {
      text-align: center;
      
      body {
      font-size: 10px; 
    }
  }
      </style>
</head>
<body>
  <div class="center">
    <img src="assets/images/radiotherapie1.jpg" alt="radiotherapie" style="width: 600px; height: 400px;">
    <p class="wow fadeInUp" data-wow-delay=".6s" style="color: rgb(236, 151, 165);">En radiothérapie, on a recours à des rayons ou à des particules de haute énergie pour détruire les cellules cancéreuses. On administre souvent une radiothérapie pour traiter le cancer du sein. Votre équipe de soins prendra en considération vos propres besoins pour choisir le type de radiothérapie, la dose à administrer, la façon de le faire et l’horaire à suivre. Vous pourriez aussi recevoir d’autres traitements.</p>
    <p class="wow fadeInUp" data-wow-delay=".6s">On administre la radiothérapie pour différentes raisons. Vous pouvez recevoir une radiothérapie pour :</p>
    <ul>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Réduire le risque de réapparition, ou récidive, du cancer après la chirurgie (traitement adjuvant);</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Réduire la taille de la tumeur avant la chirurgie (traitement néoadjuvant);</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Traiter un cancer du sein qui réapparaît, ou récidive, dans la région où la mastectomie a été pratiquée;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Soulager la douleur ou contrôler les symptômes d’un cancer du sein de stade avancé (traitement palliatif).</li>
      </ul>
      <p class="wow fadeInUp" data-wow-delay=".6s">Les médecins ont recours à la radiothérapie externe pour traiter le cancer du sein. Lors de la radiothérapie externe, un appareil émet des radiations à travers la peau jusqu’à la tumeur et une partie du tissu qui l’entoure.</p>
      <p class="wow fadeInUp" data-wow-delay=".6s">Il est possible que certaines femmes ne soient pas en mesure d’avoir une radiothérapie parce qu’elles en ont déjà reçu une au thorax ou au sein. Les médecins pourraient ne pas proposer la radiothérapie à des femmes atteintes de troubles pulmonaires, de dommages aux muscles cardiaques ou de certaines maladies des tissus conjonctifs.</p>
      <p class="wow fadeInUp" data-wow-delay=".6s"><strong style="color: rgb(236, 151, 165);">Moment où l’on administre la radiothérapie</strong></p> <p>On administre la radiothérapie une fois que votre sein a guéri après la chirurgie. De 3 à 4 semaines sont habituellement nécessaires. Cela peut être plus long si vous attrapez une infection ou si vous avez des problèmes de cicatrisation. La recherche démontre qu’on peut administrer une radiothérapie pendant jusqu’à 8 à 12 semaines après la chirurgie.</p>
      <p class="wow fadeInUp" data-wow-delay=".6s">Si la chimiothérapie et la radiothérapie font toutes les deux partie de votre plan de traitement, on donne habituellement la radiothérapie une fois que la chimiothérapie est terminée parce que les effets secondaires de certains médicaments administrés pour le cancer du sein peuvent être plus intenses si vous recevez en même temps une radiothérapie.</p> <p>Il y a une liste d’attente dans certains centres de traitement, donc  vous risquez de devoir patienter quelque temps avant de commencer la radiothérapie. Essayez de ne pas vous inquiéter si c’est le cas. Des chercheurs ont constaté qu’attendre jusqu’à 7 mois pour recevoir une radiothérapie après une chirurgie (et une fois qu’une chimiothérapie a été administrée) ne fait pas augmenter le risque de réapparition du cancer dans le tissu mammaire (récidive locale).</p>
      <p class="wow fadeInUp" data-wow-delay=".6s"><strong style="color: rgb(236, 151, 165);">Radiothérapie administrée après une chirurgie mammaire conservatrice</strong></p>
      <p class="wow fadeInUp" data-wow-delay=".6s">On administre presque toujours une radiothérapie après une chirurgie mammaire conservatrice afin de réduire le risque de réapparition du cancer dans le sein. On dirige la radiothérapie externe vers tout le sein, dont la peau et les muscles du thorax. On pourrait aussi vous proposer d’inclure les ganglions lymphatiques de l’aisselle (ganglions axillaires) dans le champ de traitement puisque la recherche démontre que cela peut réduire le risque de réapparition du cancer du sein et améliorer la survie.</p> <p>Il arrive que les médecins administrent une dose supplémentaire, soit un complément d'irradiation, dans la région où on a enlevé la tumeur. Le complément d'irradiation peut être administré si :</p>
      <ul>
        <li class="wow fadeInUp" data-wow-delay=".6s">-On observe des cellules cancéreuses dans le tissu enlevé avec la tumeur (marges chirurgicales positives);</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-La tumeur mesure plus de 5 cm de large;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Le cancer est de haut grade;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Vous avez moins de 50 ans.</li>
      </ul>
      <p class="wow fadeInUp" data-wow-delay=".6s">Vous pourriez ne pas avoir besoin d’une radiothérapie si tous les énoncés suivants s’appliquent :</p>
      <ul>
        
        <li class="wow fadeInUp" data-wow-delay=".6s">-Vous êtes âgée de 70 ans ou plus;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-La tumeur mesure 2 cm ou moins;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Le cancer ne s’est pas propagé aux ganglions lymphatiques;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Les cellules cancéreuses ont des récepteurs hormonaux positifs et vous suivez une hormonothérapie.</li>
      </ul>
      <p class="wow fadeInUp" data-wow-delay=".6s"><strong style="color: rgb(236, 151, 165);">Radiothérapie administrée après une mastectomie</strong></p>
      <p class="wow fadeInUp" data-wow-delay=".6s">Après une mastectomie, on peut administrer une radiothérapie externe à la région où le sein a été enlevé, aux ganglions lymphatiques de l’aisselle (ganglions axillaires) et aux ganglions lymphatiques qui sont devant l’épaule, près de la clavicule.</p>
      <p class="wow fadeInUp" data-wow-delay=".6s">Les médecins peuvent proposer une radiothérapie après une mastectomie si :</p>
      <ul>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Le cancer s’est propagé aux ganglions lymphatiques;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-La tumeur mesure plus de 5 cm de diamètre;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-La tumeur a envahi la peau ou les muscles.</li>
      </ul>
      <p>On n’administre habituellement pas de radiothérapie après une mastectomie si :</p>
      <ul>
        <li class="wow fadeInUp" data-wow-delay=".6s">-La tumeur mesure moins de 5 cm;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Le cancer ne s’est pas propagé aux ganglions lymphatiques;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-On n’observe pas de cellules cancéreuses dans le tissu enlevé avec la tumeur (marges chirurgicales négatives).</li>
      </ul>
      <p class="wow fadeInUp" data-wow-delay=".6s"><strong style="color: rgb(236, 151, 165);">Effets secondaires</strong></p>
      <p class="wow fadeInUp" data-wow-delay=".6s">Peu importe le traitement du cancer du sein, il est possible que des effets secondaires se produisent, mais chaque personne les ressent différemment. Certaines en ont beaucoup alors que d’autres en éprouvent peu ou pas du tout.</p>
      <p class="wow fadeInUp" data-wow-delay=".6s">Lors des séances de radiothérapie, l’équipe de soins protège le plus possible les cellules saines qui se trouvent dans la zone de traitement. Mais il est possible que les cellules saines soient endommagées et qu’elles provoquent ainsi des effets secondaires. Si des effets secondaires se manifestent, ils peuvent le faire n’importe quand pendant la radiothérapie, tout de suite après ou quelques jours, voire quelques semaines plus tard. Il arrive que des effets secondaires apparaissent des mois ou des années à la suite de la radiothérapie (effets tardifs). La plupart disparaissent d’eux-mêmes ou peuvent être traités, mais certains risquent de durer longtemps ou d’être permanents.</p>
      <p class="wow fadeInUp" data-wow-delay=".6s">Les effets secondaires de la radiothérapie dépendent surtout de la taille de la région traitée, de la région spécifique traitée, de la dose totale et du mode d’administration. Certains troubles médicaux peuvent aggraver les effets secondaires de la radiothérapie.</p>
      <p class="wow fadeInUp" data-wow-delay=".6s">Voici certains effets secondaires fréquents de la radiothérapie pour le cancer du sein :</p>
      <ul>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Fatigue;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Problèmes de peau;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Changements de la taille et de la forme du sein;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Changements des sensations ressenties dans le sein;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Douleur au sein;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">-Difficulté à bouger l’épaule;</li>
        <li class="wow fadeInUp" data-wow-delay=".6s">Inflammation du poumon causée par une radiothérapie au thorax (poumon radique).</li>
      </ul>
      <p class="wow fadeInUp" data-wow-delay=".6s" style="color: rgb(236, 151, 165);">Avisez votre équipe de soins si vous éprouvez ces effets secondaires ou d’autres que vous croyez liés à la radiothérapie. Plus vite vous mentionnez un problème, plus rapidement on pourra vous dire comment aider à le soulager.</p>
