<!DOCTYPE html>
<html>
<head>
    <style>
        body {
          background-color: pink;
        }
      </style>
</head>
<body>
  <div>
    <img src="assets/images/alcool.jpg" alt="alcool">
    <p><strong>L’alcool est l’un des principaux facteurs de risque pour le cancer du sein</strong></p>
    
    <p> A l’occasion du mois de sensibilisation au cancer du sein « octobre rose », l’Organisation Mondiale de la Santé rappelle que l’alcool est l’un des principaux facteurs de risque de la maladie. C’est pourquoi, l’OMS appelle à réduire la consommation d’alcool pour réduire les risques.</p>

    <p><strong>100 000 nouveaux cas de cancer du sein imputables à la consommation d’alcool en 2020 </strong></p>

    <p>Selon les estimations du Centre international de recherche sur le cancer (CIRC), le cancer du sein est devenu le cancer le plus fréquent dans le monde. En 2020, plus de 2 millions de nouveaux cas ont été diagnostiqués. Parmi eux, on estime qu’environ 100 000 étaient imputables à la consommation d’alcool.</p>
    <p> « Beaucoup de personnes, y compris des femmes, ne sont pas conscientes du fait qu’à l’échelle mondiale, le cancer du sein est le cancer le plus fréquemment provoqué par l’alcool chez la femme. Il faut savoir qu’en réduisant sa consommation d’alcool, on peut limiter les risques de contracter un cancer. Le type, la qualité ou le prix de l’alcool ne font aucune différence ».</p>

    <p><strong>Le risque de cancer du sein augmente avec chaque unité d’alcool consommée par jour</strong></p>

    <p>Le CIRC a classé l’alcool parmi les substances cancérigènes du groupe 1 pour l’être humain. Chaque unité d’alcool consommé par jour augmente ainsi le risque de cancer (cancer de la cavité buccale, du pharynx, de l’œsophage, du foie, du larynx et du côlon/rectum). A titre d’exemple, l’OMS explique qu’une consommation quotidienne de 500 ml de bière ou de 200ml de vin (soit environ deux petits verres de vin) suffit pour provoquer plus de 10% des cas de cancer imputables à l’alcool dans la Région européenne.
         Et ces chiffres se révèlent encore plus importants pour les cancers du sein.</p>

    <p>« Pour le dire simplement, l’alcool est toxique. Lorsqu’il traverse le corps, il endommage chaque organe […] Il est donc parfaitement sensé de limiter la quantité d’alcool consommée, de trouver des moyens de remplacer l’alcool par d’autres boissons et d’adopter des politiques nationales qui contribuent à une réduction de la consommation d’alcool ».</p>

