<div>
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <app-navebar></app-navebar>
    <section id="home" class="hero-area">
        <div class="container">
            <style>
                #Preventions {
                    background-color: white; 
                }
            </style>
            <section id="Preventions" class="Preventions section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="image-container">
                                <img src="assets/images/preventions.jpeg" alt="Image de prevention">
                            </div>
                           
                            <div class="section-title">
                                <h3 class="wow zoomIn" data-wow-delay=".2s">Prevention</h3>
                                <h2 class="wow fadeInUp" data-wow-delay=".4s" style="font-size: 16px;">Une once de prevention vaut un livre de guèrison.</h2>
                                <p class="wow fadeInUp" data-wow-delay=".6s">Les mesures de preventions du cancers sont pour la plupart peu spécifiques
                                     et concernent tous les cancers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-lg-6 col-md-6 col-12 ">
        
                            <!-- Start Single prevention -->
                            <div class="single-prevention wow fadeInUp" data-wow-delay=".2s">
                  
                                <h3 style="color: pink;">Arret du tabagisme</h3>
                                <p>La survenue d'un cancer est un moment opportun pour l'arret du tabac, car 
                                    il déclenche chez de nombreux patients un désir de
                                     reduction de certains comportements à risque.</p>
                                     <button  class="btn btn-primary" href="/Tabagisme">tabac</button>
                            </div>
                            <!-- End Single prevention -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">

                            <!-- Start Single prevention -->
                            <div class="single-prevention wow fadeInUp" data-wow-delay=".4s">
            
                                <h3 style="color: pink;">Consommation d'alcool modérée</h3>
                                <p>Le risque de cancer du sein augmente dès une 
                                    consommation de moins d'un verre par jour d'alcool.</p>
                            </div>
                            <!-- End Single prevention -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 ">

                            <!-- Start Single prevention -->
                            <div class="single-prevention wow fadeInUp" data-wow-delay=".6s">
                               
                                <h3 style="color: pink;">Exercice Physique</h3>
                                <p>L'activite physique agit sur la masse grasse et diminue ma secretion de certaines
                                    de ces hormones,ce qui freine la croissance des cellules cancéreuses.</p>
                            </div>
                            <!-- End Single prevention -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">

                            <!-- Start Single prevention -->
                            <div class="single-prevention wow fadeInUp" data-wow-delay=".8s">
                               
                                <h3 style="color: pink;">Alimentation saine</h3>
                                <p>Une alimentation saine est d'une grande importance 
                                    pour la prevention du cancer du sein.</p>
                            </div>
                            <!-- End Single prevention -->
                        </div>  
                    </div>
                </div>
            </section>  
        </div>
    </section>
</div>
<style>
    .image-container {
        text-align: left;
        margin: 0 auto;
        width: 50%; 
    }

    .image-container img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
</style>

