
<div>
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <app-navebar></app-navebar>
    <section id="home" class="hero-area">
        <div class="container">                
        </div>
    </section>

    <section>
        <div class="container"> 
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s">RISQUES DU CANCER DU SEIN</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Quels sont les facteurs de risques du cancer du sein?
                        </h2>
                       <!-- <h4><p class="wow fadeInUp" data-wow-delay=".6s">Le cancer du sein a une fréquence qui augmente avec :<br>L’âge (très rare avant 30 ans, il est fréquent après la ménopause).
                    <br>L'absence d’enfants avant 30 ans.<br>L’obésité.<br>Une alimentation riche en graisses saturées, en produit laitiers (beurre, fromage), en viandes.
                <br>Une prédisposition familiale : certaines femmes pouvant être porteuses d’une prédisposition familiale (gênes BCRA1 sur le chromosome 17 et BCRA2 sur le chromosome 13). C’est heureusement rare (moins de 10% des cancers).</p></h4>  -->
                <div class=table-content>
                    <h4 class=middle-title>Le cancer du sein a une fréquence qui augmente avec :</h4>                   
                    <ul class=table-list>
                    <li><i class="lni lni-arrow-right"></i> L’obésité</li>
                    <li><i class="lni lni-arrow-right"></i>L'absence d’enfants avant 30 ans.</li>
                    <li><i class="lni lni-arrow-right"></i>Une alimentation riche en graisses saturées, en produit laitiers (beurre, fromage), en viandes.</li>
                    <li><i class="lni lni-arrow-right"></i>Une prédisposition familiale : certaines femmes pouvant être porteuses d’une prédisposition familiale (gênes BCRA1 sur le chromosome 17 et BCRA2 sur le chromosome 13). C’est heureusement rare (moins de 10% des cancers).</li>
                    </ul>                                        
                </div>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-6 col-md-6 col-12" > 
                <img  class="single-feature wow fadeInUp" data-wow-delay=".2s"  src="assets/images/facteurs-risques1.jpeg" >      
            </div>

            <div class="col-lg-6 col-md-6 col-12" > 
                <img  class="single-feature wow fadeInUp" data-wow-delay=".4s"  src="assets/images/facteurs-risques2.jpeg" >      
            </div>
            </div> 
            </div>   
    </section>
</div>

